/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-size: 100%;
	font-family: $body;
	font-weight: 400;
}

a {
	color: $blue;
	transition: color 200ms;
	
	&:hover {
		color: lighten($blue, 5%);
	}
	
	&:focus {
		color: lighten($blue, 5%);
		outline: none;
	}
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading;
	font-weight: 200;
}

p {
	line-height: 1.5;
	font-size: 1em;
	margin: 0;
	
	+ p {
		margin-top: 1em; 
	}
}

ul {
	margin: 1em 0;
	padding-left: 0.7em;
	list-style-position: inside;
}

li {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	
	&.left {
		float: left;
		margin: 1em 1em 1em 0;
	}
	&.right {
		float: right;
		margin: 1em 0 1em 1em;
	}
	&.top {
		margin-top: 0;
	}
}

// Major classes
.contain {
	height: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.centered {
	max-width: 75%;
	margin: 0 auto;
	padding: 4em 0;
	text-align: center;
	
	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.hasIndention {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		border-color: $blue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-image: none;
		border-style: solid;
		border-width: 30px 30px 0;
		bottom: -30px;
	    height: 0;
	    left: 50%;
	    margin-left: -30px;
	    width: 0;
	    z-index: 1000;
	}
}

.hasScroll {
	&:before {
		content: '';
		display: block;
		position: relative;
		margin: 0 auto;
		width: 125px;
		height: 125px;
		background: red;
		border-radius: 50%;
		bottom: 62.5px;
		background: white;
		border: 7px solid $gray;
		padding: 7px;
		cursor: pointer;
		opacity: 1;
	}
	&:after {
		content: '';
		position: absolute;
		border-color: $lightblue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-image: none;
		border-style: solid;
		border-width: 30px 30px 0;
		top: -10px;
	    height: 0;
	    left: 50%;
	    margin-left: -30px;
	    width: 0;
	    cursor: pointer;
	    z-index: 1000;
	}
}

