/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-size: 100%;
	font-family: $body;
	font-weight: 400;
}

a {
	color: $blue;
	transition: color 200ms;
	
	&:hover {
		color: lighten($blue, 5%);
	}
	
	&:focus {
		color: lighten($blue, 5%);
		outline: none;
	}
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
    color: $blue;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading;
	font-weight: 200;
}

//Color classes
.blue { color: #03263d; } //brand main
.black { color: #232324; } //accent
.lightblue { color: #62cbe9; } //accent
.green { color: #6fb860; } //accent
.gray { color: #f1f1f3; } //accent

p {
	line-height: 1.5;
	font-size: 1em;
	margin: 0;
	
	+ p {
		margin-top: 1em; 
	}
}

ul {
	margin: 1em 0;
	padding-left: 0.7em;
	list-style-position: inside;
}

li {
	line-height: 1.5;
	margin: 1.5em 0;
	list-style-type: none;
	color: $green;
}

img {
	max-width: 100%;
	height: auto;
	
	&.left {
		float: left;
		margin: 1em 1em 1em 0;
	}
	&.right {
		float: right;
		margin: 1em 0 1em 1em;
	}
	&.top {
		margin-top: 0;
	}
}

// Buttons
.btn {
	padding: 14px 25px;
	font-family: $heading;
	font-size: 1.5em;
	font-weight: 700;
	-webkit-appearance: none;
    position: relative;
    text-transform: uppercase;
    background: white;
    color: $blue;
    border: 1px solid $lightblue;
    transition: all linear 0.3s;
    text-decoration: none;
    
    &.lightblue {
		background: transparent;
	    border-color: $lightblue;
	    &:hover {
		    border-color: $blue;
	    }
    }
    
	@media (max-width: 768px) {
		width: 100%;
		display: block;
	}
    

}

// Major classes
.contain {
	height: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.centered {
	max-width: 75%;
	margin: 0 auto;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	
	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.hasIndention {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		border-color: $blue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-image: none;
		border-style: solid;
		border-width: 30px 30px 0;
		bottom: -30px;
	    height: 0;
	    left: 50%;
	    margin-left: -30px;
	    width: 0;
	    z-index: 1000;
	}
}

.scrollArea {
	position: absolute;
	width: 100%;
	margin-top: -62.5px;
	
	.scrollCircle {
		position: relative;
		margin: 0 auto;
		width: 125px;
		height: 125px;
		background: white;
		border-radius: 50%;
		border: 7px solid $gray;
		padding: 7px;
		transition: background 0.3s linear;
		
		&:hover {
			background: $gray;
		}
		
		&:after { //cover up the border below
			content: '';
		    width: 135px;
		    height: 64px;
		    background: white; //same as section's color
		    position: absolute;
		    top: 55px;
		    left: -11px;
		}
		
		.icon {
			position: relative;
			top: calc(50% - 20px);
			text-align: center;
			color: $lightblue;
		}
		
		&:hover {
			cursor: pointer;
		}
	}
}

