/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-size: 100%;
	font-family: $heading;
	font-weight: 400;
    overflow-x: hidden;
}

a {
	color: $blue;
	transition: color 200ms;
	
	&:hover {
		color: lighten($blue, 5%);
	}
	
	&:focus {
		color: lighten($blue, 5%);
		outline: none;
	}
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
	font-family: $heading;
}
h1 {
    font-size: 3.125em;
    font-weight: 400;
    line-height: 1.4em;
    @media (max-width: 768px) {
	    font-size: 2em;
    }
}
h2 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.4em;
    @media (max-width: 768px) {
	    font-size: 1.75em;
    }
}
h3 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.4em;
    @media (max-width: 768px) {
	    font-size: 1.5em;
    }
}
h4 {
    font-size: 1.875em;
    font-weight: 500;
    line-height: 1.4em;
    color: $blue;
    @media (max-width: 768px) {
	    font-size: 1.25em;
    }
}
h5 {
    font-size: 1.5em;
    font-weight: 400;
    @media (max-width: 768px) {
	    font-size: 1.125em;
    }
}
h6 {
    font-size: 1.25em;
    font-weight: 400;
    @media (max-width: 768px) {
	    font-size: 1em;
    }
}

/* Icon fonts */
.icon-ok {
	color: $blue;
    position: absolute;
    
     ~ li {
	    margin-left: 3em;
    }
}

/* Color classes */
.blue { color: #03263d; } //brand main
.black { color: #232324; } //accent
.lightblue { color: #62cbe9; } //accent
.green { color: #6fb860; } //accent
.gray { color: #f1f1f3; } //accent
.darkgray { color: #616161; } //headings
.white { color: white; } //headings

p {
	line-height: 1.5;
	font-size: 1em;
	margin: 0;
	
	+ p {
		margin-top: 1em; 
	}
	
	@media (max-width: 768px) {
	    font-size: 0.9em;
    }
}

ul {
	margin: 1em 0;
	padding-left: 0.7em;
	list-style-position: inside;
}

li {
	line-height: 1.5;
	margin: 1.5em 0;
	list-style-type: none;
	color: $blue;
	
	&.contained {
		max-width: 72%;
		
		@media (max-width: 850px) {
			max-width: 100%;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
	
	&.right {
		float: right;
		margin: 1em 0 1em 1em;
	}
	&.top {
		margin-top: 0;
	}
	&.pad-top {
		padding-top: 1em;
	}
	
}


/* Buttons */
.btn {
	padding: 17px 75px;
	font-family: $button;
	font-size: 1.6em;
	font-weight: 700;
	-webkit-appearance: none;
    position: relative;
    text-transform: uppercase;
    background: white;
    color: $blue;
    border: 2px solid $lightblue;
    transition: all linear 0.3s;
    text-decoration: none;
    z-index: 1004;
    
    &.lightblue {
		background: transparent;
	    border-color: $lightblue;
	    &:hover {
		    border-color: $blue;
	    }
    }
    &.white {
		background: transparent;
	    border-color: white;
	    color: white;
	    &:hover {
		    border-color: $lightblue;
		    color: white;
	    }
    }
    
    @media (max-width: 860px) {
	    padding-left: 45px;
	    padding-right: 45px;
    }
    
	@media (max-width: 768px) {
		width: 100%;
		display: block;
		font-size: 1em;
	}
    

}

/* Major classes */
.contain {
	height: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.absolute {
	position: absolute;
	z-index: 1004;
}

.centered {
	max-width: 70%;
	margin: 0 auto;
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
	
	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.title {
	@media (max-width: 768px) {
		text-align: center;
	}	
}
.mobile-center {
	@media (max-width: 768px) {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

.hasIndention {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		border-color: $blue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-image: none;
		border-style: solid;
		border-width: 30px 30px 0;
		bottom: -29px;
	    height: 0;
	    left: 50%;
	    margin-left: -30px;
	    width: 0;
	    z-index: 1000;
	}
}

.scrollArea {
	position: absolute;
	width: 100%;
	margin-top: -62.5px;
	
	.scrollCircle {
		position: relative;
		margin: 0 auto;
		width: 125px;
		height: 125px;
		background: white;
		border-radius: 50%;
		border: 7px solid $gray;
		padding: 7px;
		transition: background 0.3s linear;
		
		&:hover {
			cursor: pointer;
		}
		
		&:after { //cover up the border below
			content: '';
		    width: 135px;
		    height: 64px;
		    background: white; //same as section's color
		    position: absolute;
		    top: 56px;
		    left: -11px;
		}
		
		.icon-down {
			position: absolute;
			top: calc(50% - 33.5px);
			left: calc(25% - 17.5px);
			text-align: center;
			color: $lightblue;
			font-size: 4em;
			z-index: 1004;
			transition: all 0.3s ease;
			
			&:hover {
				color: $blue;
				animation: pulse 1s infinite;
			}
		}

	}
}

/* Animations */
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.075);
    transform: scale3d(1.05, 1.05, 1.075);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}