/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
// Header layout
header {
	width: 100%;
	min-width: 320px;
	height: 120px;
	position: fixed;
	z-index: 1003;
	top: 0;
	background-color: white;
	box-shadow: 0 4px rgba(0, 0, 0, 0.01);
	opacity: 0.85;
	
	&.small {
		transform: translateY(-90px);
	}
	
	img.logo {

		@media (max-width: 768px) {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

// Body layout
main {
	position: relative;
	background-color: $blue;
}

// Section 1
.intro {
    background-image: linear-gradient(rgba($blue,0.7),rgba($blue,0.01)), url('../img/hero.jpg');
	background-size: cover;
    background-position: center center;
	min-height: 515px;
	margin-bottom: 30px;
	
	&.hasIndention {
		&:after {
			bottom: -60px;
	}
}
	
	.centered {
		padding-top: 13em;
	}
	
	h1 {
		text-transform: uppercase;
		text-align: center;
		color: white;
	}
}

// Section 2
.text {
	color: $black;
	background-color: white;
	
	span {
		font-size: 1.25em;
	}
}

// Section 3
.scroll {
	color: $black;
	background-color: $blue;
	background-image: linear-gradient(rgba($blue,0.7),rgba($blue,0.8)), url('https://placeimg.com/1100/480/nature');
	background-size: cover;
    background-position: center center;
	min-height: 250px;
	
	h4 {
		color: $green;
	}
	h3 {
		color: white;
	}
}

// Section 4
.zillow {
	position: relative;
	background: white;
}

.padded {
	padding: 3em;
	
	@media (max-width: 768px) {
		padding: 0;
	}
}

// Section 5
.prospects {
	background-color: $gray;
	
	h3 {
		color: $lightblue;
	}
}

// Section 6
.mls {
	background-color: white;
}

// Section 7
.what-else {
	background-color: $gray;
	
	.quote {
		color: $blue;
		text-align: center;
		padding: 3em 0;
		
		@media (max-width: 768px) {
			padding: 1.5em 0;
		}
	}
}

// Section 8
.demo {
	background-color: $blue;
	color: $lightblue;
	padding-top: 1em;
	padding-bottom: 5em;
	text-align: center;
	text-transform: uppercase;
	
	.btn {
		display: block;
		max-width: 80%;
		margin: 0 auto;
		
		@media (max-width: 768px) {
	   	    max-width: 100%;
	   	}
	}
}

// Footer
footer {
	background-color: white;
	color: $blue;
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 0;
	
	img,svg {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	
	.back-to-top {
		text-align: right;
		
		@media (max-width: 768px) {
			text-align: center;
		}
		
		a {
			background-color: $gray;
			padding: 22px 30px;
			text-decoration: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0 4px rgba(0, 0, 0, 0.01);
            transition: all linear 0.3s;
            
            &:hover {
	            background-color: darken($gray, 15%);
            }
		}
		i {
			color: darken($gray, 15%);
			font-size: 1.5em;
			transition: all linear 0.3s;
			
			&:hover {
	            color: $lightblue;
            }
		}
	}

}


