/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
// Header layout
header {
	width: 100%;
	min-width: 320px;
	height: 120px;
	position: fixed;
	z-index: 1000;
	top: 0;
	background: white;
	box-shadow: 0 4px rgba(0, 0, 0, 0.01);
	
	&.small {
		transform: translateY(-90px);
	}
	
	img.logo {

		@media (max-width: 768px) {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

// Body layout
main {
	margin-top: 120px; //header height
	position: relative;
	background: $blue;
}

// Section 1
.intro {
    background-image: linear-gradient(rgba($blue,0.7),rgba($blue,0.7)), url('https://placeimg.com/1100/480/grayscale');
	background-size: cover;
    background-position: center center;
	min-height: 375px;
	
	.heading {
		
	}
	
	h1 {
		text-transform: uppercase;
		text-align: center;
		color: white;
	}
}

// Section 2
.text {
	color: $black;
	background: white;
	
	span {
		font-size: 1.25em;
	}
}

// Section 3
.scroll {
	color: $black;
	background: $blue;
	background-image: linear-gradient(rgba($blue,0.7),rgba($blue,0.8)), url('https://placeimg.com/1100/480/nature');
	background-size: cover;
    background-position: center center;
	min-height: 250px;
	
	h4 {
		color: $green;
	}
	h3 {
		color: white;
	}
}

// Section 4
.zillow {
	position: relative;
	background: white;
	z-index: 1001;
}

