// Main.scss: Table of contents 
// Variables

$blue: #12ace3; //brand main
$black: #232324; //brand accent
$gray: #ccc;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|400,700');

$heading: 'Open Sans', serif, Helvetica;
$body: 'Raleway', Verdana, Arial;

// Vendor
@import "normalize";
@import "bootstrap-grid";
//@import "linearicons"; //linearicons.com/free#cheat-sheet

// Layout
@import "base";
@import "layout";