// Main.scss: Table of contents 
// Variables

$blue: #03263d; //brand main
$black: #232324; //accent
$lightblue: #63cbe7; //accent
$green: #6fb860; //accent
$darkgreen: #6fb860; //accent
$gray: #f1f1f3;
$darkgray: #616161; //headings

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|200,700');

$heading: 'Raleway', Verdana, Arial;
$body: 'Open Sans', serif, Helvetica;

// Vendor
@import "normalize";
@import "bootstrap-grid";

// Layout
@import "base";
@import "layout";